* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(248, 246, 245);
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.trybewarts-login {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: center;
}

#email , #senha , #btn-entrar {
  height: 30px;
  width: 130px;
  border: none;
  margin: 5px;
  border-radius: 5px;
}

#btn-entrar {
  background-color: purple;
  color: white;
}

#trybewarts-header-title {
  color: white;
  font-size: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
  margin-left: 150px;
  margin-top: 50px;
}

.email-house {
  display: flex;
  margin-bottom: 15px;
}

.radio {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  flex-flow: row wrap;
  margin-left: 70px;
  width: 350px;
}

.checkbox label , .radio label {
  margin: 15px;
}

#formulario {
  font-size: 2em;
  text-align: center;
  margin-top: 15px;
}

#input-name , #input-lastname , #input-email , #house {
  border: none;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  margin: 5px;
  background-color: white;
}

#house-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

#radio-checkbox {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

#avaliacao {
  margin-top: 15px;
  margin-bottom: 15px;
}

.valor {
  margin: 4px;
}

#textarea {
  width: 700px;
  height: 100px;
}

#agreement {
  margin-top: 15px;
  margin-bottom: 15px;
}

#submit-btn {
  height: 30px;
  width: 700px;
  border: none;
  margin: 5px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

#submit-btn:hover {
  background-color: rgba(128, 0, 128, 0.8);
}

footer {
  text-align: center;
  background-color: rgb(68, 62, 62);
  color: white;
}
