* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
}

#trybewarts-header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.email-house {
  display: flex;
}

.radio {
  display: flex;
  flex-direction: column;
}

.checkbox {
  display: flex;
  flex-direction: column;
}
